img.Victoria_image3 {
  float: right;
  width: 75%;
}
img.Victoria_image4 {
  float: left;
  width: 50%;
}
img.Victoria_image5 {
  float: right;
  width: 50%;
}

.content-spot .text-block.morePadding.Victoria {
  padding: 100px 100px 0px;
  box-sizing: border-box;
}

.content-spot .fixed-width.morePadding.Victoria2 {
  padding: 0px 100px 50px;
  box-sizing: border-box;
}

@media only screen and (max-width: 767px) {

  .content-spot.template-text-block .text-block.morePadding.Victoria {
    padding: 0 20px 20px;
  }

.content-spot .fixed-width.morePadding.Victoria2 {
  padding: 10px 20px 50px;
  box-sizing: border-box;
  }

}