
.text-block.square.col-6.mob-col-12.flex-container {
  justify-content: space-around;
  align-items: center;
}

.equation {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

img.plus {
  display: block;
  margin: 0 auto;
  width: 80px;
}

.content.fixed-width.morePadding.flex-container {
    justify-content: center;
    align-items: center;
}

.PattiSmith {
  text-align: center;
}

@media only screen and (max-width: 767px) {


  .content.fixed-width.morePadding.flex-container {
      flex-direction:column;
  }

  .content.fixed-width.morePadding.flex-container.reverse {
      flex-direction:column-reverse;
  }

  .content-spot.template-text-block .text-block.morePadding.Victoria {
    padding: 0 20px 20px;
  }

  .content-spot .fixed-width.morePadding {
    padding: 10px 20px 50px;
    box-sizing: border-box;
    }

}