/*GAIA'S*/

body {
  color: #000000;
}


.flex-container {
    display: -webkit-flex;
    display: flex;
}

.content-spot .col-2 {
  width: 20%;
  float: left;
  height: 100%;
}

.absolute {
  position: absolute;
}

.content-spot.template-photoshoot .owl-carousel {
  float: left;
}

.weeklyArticles {
  text-align : center;
}

.weeklyArticlesWrap {
  width: 25%;
  float: left;
  height: 100%;
}


.weeklyArticles {
  text-align : center;
  width: 25%;
  float: left;
  height: 100%;
}

.articlePreview{
  margin-bottom: 10%;
  margin-left: 10%;

}

.articlePreviewPic {
  height: 100px;
  display: inline-block;
  float: left;
}

.articlePreviewText{
  height: 100px;
  display: inline-block;
  font-size: 20px;
}

.caption.text-block {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 20%;
  width: 520px;
  padding: 20px 40px 30px;
}


.content-spot.template-magazine-tiles-notgrey {
  padding: 30px 10px;
  box-sizing: border-box;
}


.content-spot.template-magazine-tiles-notgrey h2 {
  font-family: poppins;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}


.content-spot.template-magazine-tiles-notgrey .bold-divider-centred:after {
  margin: 20px auto;
}


.content-spot .block-heading.archive h2,
.content-spot.block-heading.archive h2 {
  font-family: Poppins;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: right;
  margin: 0 0 30px 0;
}

.owl-item {
  margin-right: 5px;
}

.template-text-block.image-text {
  padding-bottom: 50px;
}

.template-text-block.image-text.notspaced {
  padding-bottom: 0px;
}

.content-spot .fixed-width.morePadding {
  padding: 0px 100px 0px;
  box-sizing: border-box;
}

.content-spot .fixed-width.muchmorePadding {
  padding: 0px 250px 0px;
  box-sizing: border-box;
}

.content-spot .text-block.morePadding {
  padding: 5px 100px 10px;
  box-sizing: border-box;
}

.content-spot .text-block.muchmorePadding {
  padding: 5px 250px 10px;
  box-sizing: border-box;
}

.content-spot .text-block.EvenMorePadding {
  padding: 5px 400px 10px;
  box-sizing: border-box;
}

.content-spot.fixed-width.threeQuarters,
.content.fixed-width.threeQuarters {
  width: 75%;
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  overflow: auto;
}

img.half-screen-img {
  width: 50%;
  margin: auto;
}

span.shopnow {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: arial;
  font-weight: bold;
  font-size: 12px;
}

@media only screen and (max-width: 900px) {

body {
  margin-left: 0;
  margin-right: 0;
}

.hide {
  display: none;
}


img.half-screen-img {
  width: 100%;
  margin: auto;
}

.content-spot.template-magazine-tiles-notgrey {
  padding: 0px;
  box-sizing: border-box;
}

  .content-spot.template-magazine-tiles-notgrey .magazine-tile {
    height: 380px;
  }


  .content-spot .block-heading.archive h2,
  .content-spot.block-heading.archive h2 {
    text-align: center;
  }

}

/*WANG*/
.flex-container.column {
  flex-direction:column;
}

.flex-container.column.right {
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: flex-end;
   align-items: flex-end;
}
.flex-container.column.left {
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: flex-start;
   align-items: flex-start;
   width: 80%;
}

.content-spot .fixed-width.morePadding.Wang2 {
  padding: 0px 100px 50px;
  box-sizing: border-box;
}

.grid_block {
  margin: 20px;
  background-color: #f8f9fa;
}

.wang p {
  padding-top: 10px;
  background-color: #f8f9fa;
  text-align: center;
  font-size: 22px;
  color: #000000;
  margin-bottom: 0px;
}

.wang span {
  display: block;
  background-color: #f8f9fa;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  margin: 0 auto;
}

.wang span.smaller {
  display: block;
  background-color: #f8f9fa;
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
}

img.Wang_Smaller {
  display: inline-block;
  float: right;
}



.eightypercent_right {
  float: right;
  width: 80%;
}


.eightypercent_left {
  width: 80%;
}

.gridblock {
  margin: 10px;
  background-color: #f8f9fa;
}
/*WANG*/

/*Victoria beckham*/
img.Victoria_image3 {
  float: right;
  width: 75%;
}
img.Victoria_image4 {
  float: left;
  width: 50%;
}
img.Victoria_image5 {
  float: right;
  width: 50%;
}

.content-spot .text-block.morePadding.Victoria {
  padding: 100px 100px 0px;
  box-sizing: border-box;
}

.content-spot .fixed-width.morePadding.Victoria2 {
  padding: 0px 100px 50px;
  box-sizing: border-box;
}
/*Victoria beckham*/

/*top10*/
.flex-container.sideTimeline {
  align-items: center;
}


.template-text-block.image-text.TopTen {
  padding-bottom: 0px;
}

.dressLeft {
    float: left;
    width: 75%;
}

.branch-timeline-right {
    float: right;
    width: 25%;
    height: 100%;
    border-top: 1px solid #000000;
    padding-top:5px;
    padding-bottom: 5px;
    margin: auto 0;
    position: relative;
    left: 5px;
}

.branch-timeline-right:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #30353b;
  border-radius: 5px;
  position: absolute;
  top: -6px;
}


.line-right {
    width: 25%;
    height: 100%;
    border-top: 1px solid #000000;
    padding-top:5px;
    padding-bottom: 5px;
    margin: auto 0;
    position: relative;
    right: 5px;
}

.line-right:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 5px;
  position: absolute;
  top: -6px;
}

.line-right:after {
  right: 0;
}

.line-left {
    width: 25%;
    height: 100%;
    border-top: 1px solid #000000;
    padding-top:5px;
    padding-bottom: 5px;
    margin: auto 0;
    position: relative;
    left: 5px;
}

.line-left:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 5px;
  position: absolute;
  top: -6px;
}

.line-left:after {
  right: 0;
}



.timeline_long {
  border: 0.5px solid black;
}


p.timeline-text {
    width: 80%;
    display: block;
    margin: 100px auto 10px;
    text-align: center;
}
/*end top 10*/

/*the wool*/

.squareSquare {
  text-align: center;
}

.squareSquare h1 {
  margin: 40% 20% 0 20%;
}

.square2 {
    position: relative;
    display: inline-block;
}

.square2 span {
    position: absolute;
    top: 200px;
    right: 250px;
    width: 200px;
}

.Rectangle_1 {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 132px;
  top: 208px;
  width: 1px;
  height: 107px;
  z-index: 2;
}
/*end the wool*/

/*patti smith*/

.text-block.square.col-6.mob-col-12.flex-container.patti-smith {
  justify-content: space-around;
  align-items: center;
}

.equation {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

img.plus {
  display: block;
  margin: 0 auto;
  width: 80px;
}

.content.fixed-width.morePadding.flex-container {
    justify-content: center;
    align-items: center;
}

.PattiSmith {
  text-align: center;
}

/*end patti smith*/

/*about us*/
h1.left {
  text-align: left;
}

p.quote {
  font-size: 18px;
  font-style: italic;
  padding: 5%; 
}

p.info_about {
  margin: 0px;
}

/*end about us*/










/*******************************************************************/

@media only screen and (max-width: 767px) {

/*wang*/
.content.fixed-width.muchmorePadding.Wang {
  padding: 20px;
}

img.Wang_Smaller, img.Wang_Smaller_left {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

li.padded {
  padding: 0px;
}

  #myContent {
   -moz-column-count: 1;
   -moz-column-gap: 0px;
   -webkit-column-count: 1;
   -webkit-column-gap: 0px;
   column-count: 1;
   column-gap: 0px;
   width: 100%;
   }
   
   #container {
   width: 300px;
   padding: 0px;
   }


    .eightypercent_right, .eightypercent_left {
      width: 100%;
      float: none;
    }

    .gridblock {
     width: 100%;
     margin: 10px 0;
    }
/* end wang*/

/*victoria beckham*/
  .content-spot.template-text-block .text-block.morePadding.Victoria {
    padding: 0 20px 20px;
  }

.content-spot .fixed-width.morePadding.Victoria2 {
  padding: 10px 20px 50px;
  box-sizing: border-box;
  }
/*end victoria beckham*/

/*top10*/
  .dressLeft {
    width: 100%;
  }

  .content.fixed-width.muchmorePadding.flex-container {
    flex-direction:column;
  }

  .content.fixed-width.muchmorePadding.flex-container.reverse {
    flex-direction:column-reverse;
  }

  .timeline_long, .line-left, .line-right  {
      display: none;
  }

  p.timeline-text {
    width: 90%;
    display: block;
    margin: 10% auto;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
  }
/*end top 10*/

/*the wool*/
  .squareSquare h1 {
    text-align: center;
    margin: 10%;
  }

  .square2 span {
    position: absolute;
    letter-spacing: 1px;
    top: 100px;
    right: 200px;
    width: 150px;
  }
/*end the wool*/

/*patti smith*/
  .content.fixed-width.morePadding.flex-container {
      flex-direction:column;
  }

  .content.fixed-width.morePadding.flex-container.reverse {
      flex-direction:column-reverse;
  }

  .content-spot.template-text-block .text-block.morePadding.Victoria {
    padding: 0 20px 20px;
  }

  .content-spot .fixed-width.morePadding {
    padding: 10px 20px 50px;
    box-sizing: border-box;
    }
/*end patti smith*/

/*about us*/
  

/*end about us*/

  .content-spot.template-magazine-tiles-notgrey .magazine-tile {
    margin: 0 2% 30px 0px;
    height: auto;
    padding-bottom: 20px;
  }
  .content-spot.template-magazine-tiles-notgrey .subheading {
    font-size: 12px;
    margin: 0 10px 20px;
  }

  .content-spot .fixed-width.morePadding, .content-spot .fixed-width.muchmorePadding {
    padding: 0 20px 20px;
    box-sizing: border-box;
  }

  .content-spot.template-text-block .text-block.morePadding {
    padding: 0 20px 20px;
  }

  .content-spot.template-text-block .text-block.muchmorePadding {
    padding: 0 20px 20px;
  }

  .content-spot.template-text-block .text-block.EvenMorePadding {
    padding: 0 20px 20px;
  }

}

