
.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-container.sideTimeline {
  align-items: center;
}


.template-text-block.image-text.TopTen {
  padding-bottom: 0px;
}

.dressLeft {
    float: left;
    width: 75%;
}

.branch-timeline-right {
    float: right;
    width: 25%;
    height: 100%;
    border-top: 1px solid #000000;
    padding-top:5px;
    padding-bottom: 5px;
    margin: auto 0;
    position: relative;
    left: 5px;
}

.branch-timeline-right:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #30353b;
  border-radius: 5px;
  position: absolute;
  top: -6px;
}


.line-right {
    width: 25%;
    height: 100%;
    border-top: 1px solid #000000;
    padding-top:5px;
    padding-bottom: 5px;
    margin: auto 0;
    position: relative;
    right: 5px;
}

.line-right:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 5px;
  position: absolute;
  top: -6px;
}

.line-right:after {
  right: 0;
}

.line-left {
    width: 25%;
    height: 100%;
    border-top: 1px solid #000000;
    padding-top:5px;
    padding-bottom: 5px;
    margin: auto 0;
    position: relative;
    left: 5px;
}

.line-left:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #000000;
  border-radius: 5px;
  position: absolute;
  top: -6px;
}

.line-left:after {
  right: 0;
}



.timeline_long {
  border: 0.5px solid black;
}


p.timeline-text {
    width: 80%;
    display: block;
    margin: 100px auto 10px;
    text-align: center;
}



@media only screen and (max-width: 767px) {

  .dressLeft {
    width: 100%;
  }

  .content.fixed-width.muchmorePadding.flex-container {
    flex-direction:column;
  }

  .content.fixed-width.muchmorePadding.flex-container.reverse {
    flex-direction:column-reverse;
  }

  .timeline_long, .line-left, .line-right  {
      display: none;
  }

  p.timeline-text {
    width: 90%;
    display: block;
    margin: 10% auto;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
  }

}
